In [42]:
import pickle
import pandas as pd

# Specify the path to your .pkl file
file_path = 'smac2_training_results.pkl'

# Load the data from the .pkl file
with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)

<class 'pandas.core.frame.DataFrame'>

In [54]:
# Now, 'loaded_data' contains the data from the .pkl file
QMIX_data = {}
for key,value in loaded_data.items():
    for k2, v2 in value.items():
        if k2 == "QMIX":
            QMIX_data[key] = {k2: v2}


df = pd.DataFrame(QMIX_data["protoss_5_vs_5"]["QMIX"][1])
df

         step  mean_test_win_rate  mean_test_return
0         228             0.00000          5.916126
1       10291             0.00000          8.662723
2       40924             0.09375         12.796646
3       91562             0.15625         14.324798
4      111890             0.21875         15.376703
..        ...                 ...               ...
261   9879332             0.62500         18.715208
262   9940300             0.53125         17.702550
263   9950397             0.62500         18.361517
264   9981035             0.62500         18.839022
265  10021344             0.71875         19.065681

[266 rows x 3 columns]

In [53]:
df

         step  mean_test_win_rate  mean_test_return
0         228             0.00000          5.916126
1       10291             0.00000          8.662723
2       40924             0.09375         12.796646
3       91562             0.15625         14.324798
4      111890             0.21875         15.376703
..        ...                 ...               ...
261   9879332             0.62500         18.715208
262   9940300             0.53125         17.702550
263   9950397             0.62500         18.361517
264   9981035             0.62500         18.839022
265  10021344             0.71875         19.065681

[266 rows x 3 columns]

In [48]:
threshold_value = 702000
filtered_df = df[df['step'] > threshold_value]

# Check if there are any rows that satisfy the condition
if not filtered_df.empty:
    # Access the value in column 3 at the first index
    result_value = filtered_df.iloc[0]['mean_test_return']
    print(f"Value in column 3 at the first index where col1 > {threshold_value}: {result_value}")
else:
    print(f"No rows found where col1 > {threshold_value}")

Value in column 3 at the first index where col1 > 702000: 11.139466281805358